.cart-header,
.cart-data{
    border-bottom: 1px solid var(--base-border)
}

.cart-header h4{
    font-size: 13px;
    color: var(--form-color);
}

.cart-col-1{
    width: 40%;
}
.cart-col-1 p{
    color: var(--form-color);
    font-size: 14px;
}

.cart-col-2{
    width: 10%;
}

.cart-col-2 h5.price{
    color: var(--link-color);
    font-size: 14px;
}

.cart-col-3{
    width: 15%;
}

.cart-col-4{
    width: 15%;
}
